.card {
  background-color: rgb(65, 65, 85);
  color: aliceblue;
}

.cardContainer {
  display: flex;
  flex-direction: row;

.cityList {
  display: flex;
  flex-direction: row;
  width: 25%;
  max-width: 500px;
}
