body {
  max-width: 1200px;
  margin: 0 auto;
}

.card {
  display: flex;
  background-color: rgb(65, 65, 85);
  color: aliceblue;
  margin: 20px;
  padding-left: 30px;
  padding-right: 30px;
}

.card-body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.tempInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.otherInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-title {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.card-header {
  display: flex;
  flex-direction: row;
}

#icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.history-card {
  display: flex;
  justify-content: flex-start;
  width: 40%;
  text-align: center;
}

.list-group-item {
  background-color: rgb(65, 65, 85);
}

#today {
  display: flex;
  flex-direction: column;
  width: 50%;
  max-height: 500px;
  align-self: flex-end;
}

img {
  max-height: 100px;
  max-width: 100px;
}

.cardContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.cityList {
  display: flex;
  flex-direction: row;
  width: 25%;
  max-width: 500px;
}

.button {
  background-color: rgb(65, 65, 85);
  color: aliceblue;
  border: none;
  padding: 10px;
  margin: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-bloc;
  font-size: 16px;
  border-radius: 5px;
  width: 100px;
  height: 40px;
}

.card-header {
  width: 100%;
}

.uvMin {
  color: green;
}

.uvModerate {
  color: rgb(254, 254, 68);
}

.uvHigh {
  color: orange;
}

.uvSevere {
  color: red;
}

.uvExtreme {
  color: violet;
}

@media only screen and (max-width: 900px) {
  #today {
    width: 90%;
    max-height: 700px;
  }

  .card-body {
    flex-direction: column;
  }

  .history-card {
    width: 80%;
  }
}

@media only screen and (max-width: 500px) {
  .cardContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
