.card {
  display: flex;
  background-color: rgb(65, 65, 85);
  color: aliceblue;
  margin: 20px;
}

.history-card {
  display: flex;
  justify-content: flex-start;
  width: 40%;
  text-align: center;
}

.list-group-item {
  background-color: rgb(65, 65, 85);
}

#today {
  display: flex;
  width: 50%;
  max-height: 500px;
  align-self: flex-end;
}

img {
  max-height: 100px;
  max-width: 100px;
}

.cardContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.cityList {
  display: flex;
  flex-direction: row;
  width: 25%;
  max-width: 500px;
}

.uvMin{
  color: green;
}

.uvModerate {
  color: rgb(254, 254, 68);
}

.uvHigh {
  color: orange;
}

.uvSevere {
  color: red;
}

.uvExtreme {
  color: violet
}

@media only screen and (max-width: 900px) {
  #today {
    width: 90%;
  }

  .history-card {
    width: 90%;
  }
}