.card {
  display: flex;
  background-color: rgb(65, 65, 85);
  color: aliceblue;
  margin: 20px;
}

.cardContainer {
  display: flex;
  flex-direction: row;
}

.cityList {
  display: flex;
  flex-direction: row;
  width: 25%;
  max-width: 500px;
}

.uvMin{
  color: green;
}

.uvModerate {
  color: rgb(254, 254, 68);
}

.uvHigh {
  color: orange;
}

.uvSevere {
  color: red;
}

.uvExtreme {
  color: violet
}